{% extends 'common.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Krina Patel</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Photographer, Learner, Coader"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am Krina Patel. I am doing computer engineering at LJ Institute of engineering and Technology. I done many of internship to learn something new. </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile-resume.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>learner &amp; Developer.</h3>
            <p class="fst-italic">
              
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>30 april 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Marital Status:</strong> <span>Unmarried</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>7359613488</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ahemdababd, INDIA</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>degree of engineering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>krinapatel30042001@gmail.com.</span></li>
                </ul>
              </div>
            </div>
            <p>
              
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Other Skills</h2>
          
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              
              <p><strong>Understanding ability</strong> </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              
              <p><strong>communication skill</strong>  </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              
              <p><strong>Time management</strong> </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              
              <p><strong>Team Work</strong>   </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p> I am devloper and learner and I done my taks in some programming and scripting laungage like html , css , javascript , PHP , python. Also i have hobby of photography so i have also experience of it.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Android <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">python <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Java <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I Have done my 10 th and 12 th education and I am doing computer engineering degree with some proffesional work like internship and gain some experience.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Krina Patel</h4>
              <p><em>I have done some experience to developing websites and designing website and also have experience of desktop based apllication.</em></p>
              <ul>
                
                <li>7359613488</li>
                <li>krinapatel30042001@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4> SSC Board </h4>
              <h5>2015 - 2016</h5>
              <p><em>M.B.Patel gyanjyot school, Ghatlodia ,Ahemdababd</em></p>
              <p> I had done my SSC board in M.b. patel gyanjyot high school, Ghatlodia. I was done it in first attempt. I had passed it with good score and it is 80%.</p>
            </div>
            <div class="resume-item">
              <h4> HSC Board  </h4>
              <h5>2017 - 2018</h5>
              <p><em>M.B. Patel gyanjyot school,Ghatlodia, Ahmedabad</em></p>
              <p>I had done my HSC board in M.b. patel gyanjyot high school, Ghatlodia. I was done it in first attempt. I had passed it with good score and it is 85%. And I also give competative exams like GUJCET and JEE.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            
            <div class="resume-item">
              <h4>DEGREE  of engineering</h4>
              <h5>2018 - Present</h5>
              <p><em>LJ institute of engineering and Technology </em></p>
              <ul>
                <li type="square">Here I am done of learning Data Base management system, Core java and Advanced java , Python and along with Data Science.   </li>
                <li type="square">Along with programming laungage I am also learning Scripting laungage like CSS, javascript, HTML, PHP. </li>
                <li type="square">I can also done sports and cultural activity in the duration of degree and also keep participating.</li>
                
              </ul>
            </div>
            <div class="resume-item">
              <h3 class="resume-title">Projects</h3>
              
              <p><em></em></p>
              <ul>
                <li type="square">Developed Projects that is based on Django and using programming laungage Python.</li>
                <li type="square">Making Project of Authentication that include login, logout, email validation, password reset, forgot password. </li>
                <li type="square">Making kind of Recommneder System with Sentiment Analysis that Make analysis of Customer feedback and theri rating and based on that give recommendation for different products.</li>
                <li type="square">I have Created Music Player App using android with java as a programming languge.</li>
              
              </ul>
            </div>
              <div class="resume-item">
                <h3 class="resume-title">Internship</h3>
              
              <p><em></em></p>
              <ul>
                <li type="square">I have done Internship of 6 months as intern of Web designer and learning Web designing with HTML, CSS, Java scripts and Bootstrap Framework and done project development with Silverwing Technologies Pvt. Ltd. </li>
                <li type="square">I have done internship of 20 Days as intern of  Python with Django Framework </li>
                <li type="square">I have done of Python for data science internship of 21 Days at brainybeams Technologies. Pvt. LTD.</li>
                <li type="square">Completed Workshop of Digital Marketing and Web Technologies</li>
                <li type="square">Completed Workshop of Microsoft-Azure Global Azure Bootcamp </li>
                <li type="square">Completed Workshop of Hacking and Cyber Security</li>


              
              </ul>

            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    

    


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>29, Harivilla Bunglows, Near j.k. park society, Chandlodia , Ahmedabad</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>krinapatel30042001@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 7359613488</p>
              </div>

              
            </div>

          </div>

          

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
  {% endblock %}